[submodule "fprime-billee-rcm"]
	path = fprime-billee-rcm
	url = https://github.com/LucaLanzi/fprime-billee-rcm.git
[submodule "fprime-arduino-billee-scm"]
	path = fprime-arduino-billee-scm
	url = https://github.com/LucaLanzi/fprime-arduino-billee-scm.git
	branch = lucadev
